:root {
  --msm-blue: #001f3f;
  --msm-white: #ffffff;
  --msm-orange: #ff851b;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--msm-white);
  color: var(--msm-blue);
  font-family: Inter, Arial, sans-serif;
}

@media (max-width: 768px) {
  .desktop-nav {
    display: none !important;
  }

  .burger {
    display: block !important;
  }

  li:hover {
  transform: translateY(-6px);
  box-shadow: 0 15px 40px rgba(0,0,0,0.1);
}

}


